<a href="https://colab.research.google.com/github/akarshpyr/Python-codes/blob/main/chi2_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Null hypothesis = The male to female ratios are similar;       
Alternate hypothesis = The male to female ratios are not similar.

In [23]:
import pandas as pd
import numpy as np
import seaborn as sns
from scipy import stats

In [24]:
df = pd.read_csv('/content/BuyerRatio.csv')

In [25]:
df

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [26]:
sum = np.sum(df.iloc[0:,])

In [27]:
sum

Observed Values    MalesFemales
East                        485
West                       1665
North                      1487
South                       820
dtype: object

In [28]:
df_table = df.drop("Observed Values" , axis=1)

In [29]:
no_rows = len(df.iloc[:,0])

In [30]:
no_rows

2

In [31]:
no_columns = len(df.iloc[0,0:4])
no_columns

4

In [32]:
dof = (no_columns-1)*(no_rows-1)

In [33]:
dof

3

In [34]:
chi2 = stats.chi2_contingency(df_table)

In [35]:
chi2

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [36]:
chi2_statistic = chi2[0]

In [37]:
chi2_statistic

1.595945538661058

In [38]:
expected_values = chi2[3]

In [39]:
expected_values

array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]])

In [40]:
chi2_critical = stats.chi2.ppf(q=1-.05,df=dof)

In [41]:
chi2_critical

7.814727903251179

In [42]:
p_value = chi2[1]

In [43]:
p_value

0.6603094907091882

In [44]:
alpha = 0.05

In [46]:
if p_value>alpha:
  print ('We fail to reject Null hypothesis')
else:
    print('We reject Null hypothesis and accept alternate hypothesis')

We fail to reject Null hypothesis