<a href="https://colab.research.google.com/github/akarshpyr/Python-codes/blob/main/Practice_turingminds.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

If else statements

In [ ]:
people = 200000
cats = 200
dogs = 2900
if people<dogs:
  print('Dogs win')
else:
  print('People win')

In [ ]:
cars = 2000
bikes = 25000
if cars == bikes:
  print('We are rich')
else:
  print('We should work hard')

In [ ]:
labour = 1000
openings = 100
if labour>openings:
  print('Unemployment \nproblem')
elif labour<openings:
  print('We are in Canada')
else:
  print('We are going to suffer')

Loops and list

In [ ]:
the_count = [1,2,3,4,5]

for number in the_count:
  if number==2:
    print('It is even')
else:
  print('It is odd')

In [ ]:
l1 = str(1)

In [ ]:
l1 = ['aki','anu','abhi','sandy','rajath']
for names in l1:
  if names=='arun':
    print('He hails from Karnataka')
else:
  print(f'His name is {names}')

In [ ]:
elements = []
for i in range(0,6):
  elements.append(i)
print(elements)

In [ ]:
countries = []
for country in ['India','Pakistan','Bangladesh','Sri Lanka','China','Austrailia','Fiji','Cuba','USA']:
  if country in ['India','Pakistan','Bangladesh','Sri Lanka','China']:
    countries.append(country)
print(countries)
print('It is in Asia')

While loop

In [ ]:
i = 0
number = []
while i < 6:
  print(f'At the top i is {i}')
  number.append(i)
  i+=1
  print('Numbers now=',number)
  print(f'At the bottom i is {i}')
print('The numbers= ')
for num in number:
  print(num)

## Functions

In [ ]:
def greet(name):
  print(f"Hello dumbo your name is {name}")

In [ ]:
greet('Akarsh')

In [ ]:
def add_numbers(a,b):
  sum = a+b
  return(sum)

In [ ]:
add_numbers(3000,3455)

In [ ]:
def myfun(x,y=50):
  print('x:',x)
  print('y:',y)
  print('sum:',x+y)

In [ ]:
myfun(100)

In [ ]:
myfun(2,199)

In [ ]:
def student(firstname, lastname):
  print(firstname,lastname, sep=',')

In [ ]:
student('Aki','Anu')

In [ ]:
def myfun1(*argument):
  for arg in argument:
    print(f'{arg}')

In [ ]:
myfun1('aki',1,3,5)

In [ ]:
def myfun2(**kwargs):
  for key, value in kwargs.items():
    print(f'{key}=={value}')

In [ ]:
myfun2(first='geeks',mid='for',last='geeks')

In [ ]:
def add2(x,y):
  sum=x+y
  return(sum)

In [ ]:
add2(1299,189)

In [ ]:
dictiona = {'name':['aki','abhi'], 'age':[23,44,55]}

In [ ]:
sum = lambda a,b:a+b

In [ ]:
sum(78,89)

In [ ]:
def weighted_sum(x):
  w = [0.3,0.5,0.55,0.7]
  for value in w:
    z=value*x[range(0,3)]
  print(z)

In [ ]:
import numpy as np

In [ ]:
w = [1,2,3,4]
w1 = np.array(w)

In [ ]:
def nn(x_vec):
  a = np.transpose(w1)
  z = np.dot(a,x_vec)
  return(z)

In [ ]:
x = [3,4,56,8]

In [ ]:
nn(x)

In [ ]:
def my_factorial(a):
  factorial = 1
  for i in range(1,a+1):
    factorial = factorial *i
  return(factorial)

In [ ]:
my_factorial(5)

In [ ]:
l1 = [1,2,3]
l2 = [3,4,5]
l1+l2

In [ ]:
l1[::-1]

In [ ]:
s = 'i loe my iajjdj'
len(s)

In [ ]:
list1 = [23,34,455,66,66,90]

In [ ]:
for x in list1:
  print(x)

In [ ]:
list3 = []
import numpy as np
import random

In [ ]:
list3.append(random.randint(1,18))

In [ ]:
list3

In [ ]:
y = random.randint(1,5)

In [ ]:
for n in range(0,6):
  n = random.randint(1,5)
  list3.append(n)

In [ ]:
list3

In [ ]:
oddlist=[]
for i in range(0,10):
  n = random.randint(1,31)
  if n%2!=0:
    oddlist.append(n)

In [ ]:
oddlist

In [ ]:
a=[]
for i in range(0,20):
  if i%2!=0:
    a.append(i)
print(a)

An Object is an instance of a Class. A class is like a blueprint while an instance is a copy of the class with actual values. Python is object-oriented programming language that stresses on objects i.e. it mainly emphasizes functions.

In [ ]:
class MyClass:
  x=5

In [ ]:
p1 = MyClass()
print(p1.x)

The __init__ method is the Python equivalent of the C++ constructor in an object-oriented approach. The __init__ function is called every time an object is created from a class. The __init__ method lets the class initialize the object's attributes and serves no other purpose. It is only used within classes.

In [ ]:
class Person:
  def __init__(self,name,age): #self is the object
    self.name = name
    self.age = age

p2 = Person('Akarsh',27)
print(p2.name)
print(p2.age)

In [ ]:
p3 = Person('Anu',26)
p3.name

In [ ]:
p3.age

In [ ]:
class Dog:
  def __init__(self,name,breed,color):
    self.name = name
    self.breed = breed
    self.color = color

In [ ]:
p4 = Dog('pinky','pitbull','black')

In [ ]:
print(p4.name,"\n",p4.breed)

In [ ]:
class Cat:
  attr1 = 'mammal'
  attr2 = 'cat'
def fun(self):
  print('I am a',self.attr1)
  print('I am a',self.attr2)

In [ ]:
cat = Cat()

In [ ]:
print(cat.attr1)

In [ ]:
fun(cat)

In [ ]:
class multiply():
    def __init__(self,a,b):
        self.a=a
        self.b=b
def cal(self):
  return self.a * self.b

In [ ]:
obj1 = multiply(23,22)

In [ ]:
cal(obj1)

In [ ]:
class Human():
  def __init__(self,n,o,h):
    self.name = n
    self.occu = o
    self.height = h
  def tall(self):
    if self.height==7:
      print('You are tall')
    else:
      print('You are short')

In [ ]:
x = Human('Akarsh','data scientist',7)

In [ ]:
x.name

In [ ]:
x.tall()

In [ ]:
class addition():
  def __init__(self,n1,n2):
    self.num1 = n1
    self.num2 = n2
  def calculate(self):
    sum1 = self.num1 + self.num2
    return sum1
  def display(self):
    sum1 = self.num1 + self.num2
    if sum1>55:
      print('Your score is:',sum1)
    else:
      print('You are failed')

In [ ]:
per = addition(70,3)

In [ ]:
per.calculate()

In [ ]:
per.display()

In [ ]:
class multiplication():
  def __init__(self,n1,n2):
    self.num1=n1
    self.num2=n2
  def calculate(self):
    mul = self.num1*self.num2
    if mul<50:
      print('You are failed')
    elif mul<60:
      print(f"{mul}: You have scored second class")
    elif mul<85:
      print(f'{mul}: You have scored first class')
    elif mul>85:
      print(f'{mul}: You have scored distinction')
    else:
      print('You are unfit')

In [ ]:
per1 = multiplication(10,7)

In [ ]:
per1.calculate()

In [ ]:
per2 = multiplication(10,5.9)

In [ ]:
per2.calculate()

In [ ]:
per3 = multiplication(10,4.6)
per3.calculate()