<a href="https://colab.research.google.com/github/akarshpyr/Python-codes/blob/main/recommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [107]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
books = pd.read_csv('/content/book (1).csv', encoding='latin-1')

In [6]:
books

,Unnamed: 0,User.ID,Book.Title,Book.Rating
0,1,276726,Classical Mythology,5
1,2,276729,Clara Callan,3
2,3,276729,Decision in Normandy,6
3,4,276736,Flu: The Story of the Great Influenza Pandemic...,8
4,5,276737,The Mummies of Urumchi,6
...,...,...,...,...
9995,9996,162121,American Fried: Adventures of a Happy Eater.,7
9996,9997,162121,Cannibal In Manhattan,9
9997,9998,162121,How to Flirt: A Practical Guide,7
9998,9999,162121,Twilight,8
9999,10000,162129,Kids Say the Darndest Things,6

In [33]:
books.head(10)

   User_ID                                         book_title  book_rating
0   276726                                Classical Mythology            5
1   276729                                       Clara Callan            3
2   276729                               Decision in Normandy            6
3   276736  Flu: The Story of the Great Influenza Pandemic...            8
4   276737                             The Mummies of Urumchi            6
5   276744                             The Kitchen God's Wife            7
6   276745  What If?: The World's Foremost Military Histor...           10
7   276747                                    PLEADING GUILTY            9
8   276747  Under the Black Flag: The Romance and the Real...            9
9   276747            Where You'll Find Me: And Other Stories            8

In [8]:
books.shape

(10000, 4)

In [10]:
books.isnull().sum()

Unnamed: 0     0
User.ID        0
Book.Title     0
Book.Rating    0
dtype: int64

In [11]:
books.duplicated().sum()

0

In [13]:
books.rename(columns={'User.ID': 'User_ID', 'Book.Title': 'book_title', 'Book.Rating':'book_rating'},inplace=True)

In [14]:
books

,Unnamed: 0,User_ID,book_title,book_rating
0,1,276726,Classical Mythology,5
1,2,276729,Clara Callan,3
2,3,276729,Decision in Normandy,6
3,4,276736,Flu: The Story of the Great Influenza Pandemic...,8
4,5,276737,The Mummies of Urumchi,6
...,...,...,...,...
9995,9996,162121,American Fried: Adventures of a Happy Eater.,7
9996,9997,162121,Cannibal In Manhattan,9
9997,9998,162121,How to Flirt: A Practical Guide,7
9998,9999,162121,Twilight,8
9999,10000,162129,Kids Say the Darndest Things,6

In [16]:
books.drop('Unnamed: 0',axis=1,inplace=True)

In [17]:
books

      User_ID                                         book_title  book_rating
0      276726                                Classical Mythology            5
1      276729                                       Clara Callan            3
2      276729                               Decision in Normandy            6
3      276736  Flu: The Story of the Great Influenza Pandemic...            8
4      276737                             The Mummies of Urumchi            6
...       ...                                                ...          ...
9995   162121       American Fried: Adventures of a Happy Eater.            7
9996   162121                              Cannibal In Manhattan            9
9997   162121                    How to Flirt: A Practical Guide            7
9998   162121                                           Twilight            8
9999   162129                       Kids Say the Darndest Things            6

[10000 rows x 3 columns]

In [18]:
books['book_rating'].value_counts()

8     2283
7     2076
10    1732
9     1493
5     1007
6      920
4      237
3      146
2       63
1       43
Name: book_rating, dtype: int64

In [21]:
book1 = books.groupby('book_title').mean()['book_rating'].reset_index()

In [22]:
book1

                                             book_title  book_rating
0                                   Jason, Madison &amp          8.0
1             Other Stories;Merril;1985;McClelland &amp          6.0
2                              Repairing PC Drives &amp          4.0
3                                                   '48          7.0
4     'O Au No Keia: Voices from Hawai'I's Mahu and ...          8.0
...                                                 ...          ...
9654  \Surely You're Joking, Mr. Feynman!\: Adventur...          8.0
9655             \Well, there's your problem\: Cartoons          9.0
9656                            iI Paradiso Degli Orchi          7.0
9657                                           stardust          5.0
9658                                     Ãƒ?Ã‚?bermorgen.          4.0

[9659 rows x 2 columns]

In [25]:
popular_df = book1[book1['book_rating']>=5].sort_values('book_rating', ascending=False)

In [26]:
popular_df

                                             book_title  book_rating
4822  Murder on the Mauretania (George Porter Dillma...         10.0
2315                             El Tiempo y la Promesa         10.0
7018                                 The Book of Lights         10.0
2258                            Eat Right for Your Type         10.0
7015                         The Book of Fred : A Novel         10.0
...                                                 ...          ...
2103                                       Do You Know?          5.0
7179  The Company of Cats : 20 Contemporary Stories ...          5.0
7178                           The Community in America          5.0
2108  Dog Days of the West (Super Adventures of Wish...          5.0
9657                                           stardust          5.0

[9197 rows x 2 columns]

In [27]:
popular_df.drop_duplicates('book_title')

                                             book_title  book_rating
4822  Murder on the Mauretania (George Porter Dillma...         10.0
2315                             El Tiempo y la Promesa         10.0
7018                                 The Book of Lights         10.0
2258                            Eat Right for Your Type         10.0
7015                         The Book of Fred : A Novel         10.0
...                                                 ...          ...
2103                                       Do You Know?          5.0
7179  The Company of Cats : 20 Contemporary Stories ...          5.0
7178                           The Community in America          5.0
2108  Dog Days of the West (Super Adventures of Wish...          5.0
9657                                           stardust          5.0

[9197 rows x 2 columns]

In [28]:
books['User_ID'].value_counts()

3757      523
162052    214
2276      212
4017      156
277427    150
         ...
969         1
967         1
965         1
951         1
162129      1
Name: User_ID, Length: 2182, dtype: int64

In [90]:
book_df = books.groupby('User_ID').count()['book_title']>=30

In [91]:
book_df

User_ID
8         False
9         False
10        False
12        False
14        False
          ...
278846    False
278849    False
278851    False
278852    False
278854    False
Name: book_title, Length: 2182, dtype: bool

In [92]:
top_users = book_df[book_df].index

In [93]:
top_users

Int64Index([   183,    242,    254,    507,    638,    643,    882,   1025,
              1211,   1424,   1435,   1733,   1848,   1903,   2030,   2033,
              2110,   2276,   2442,   2766,   2891,   2977,   3167,   3346,
              3363,   3371,   3373,   3757,   3827,   3923,   4017,   4157,
            160943, 161039, 161041, 161200, 161265, 161480, 161870, 161882,
            161936, 161974, 162052, 276847, 276929, 277157, 277203, 277427,
            277478, 277639, 277965, 278026, 278137, 278188, 278356, 278418,
            278582, 278633],
           dtype='int64', name='User_ID')

In [94]:
filtered_df = books[books['User_ID'].isin(top_users)]

In [95]:
filtered_df

      User_ID                                         book_title  book_rating
77     276847                                  Starship Troopers            5
78     276847  The Ruby in the Smoke (Sally Lockhart Trilogy,...            8
79     276847                Black Beauty (Illustrated Classics)            8
80     276847                                       Anil's Ghost            7
81     276847                            Prescription for Terror           10
...       ...                                                ...          ...
9964   162052                         Ali and Nino: A Love Story            5
9965   162052  Objects in Mirror Are Closer Than They Appear ...            7
9966   162052                                            Ragtime            9
9967   162052                            The Man Who Ate the 747           10
9968   162052                                   Women of Mystery           10

[4083 rows x 3 columns]

In [96]:
a = filtered_df.pivot_table(index='book_title',columns='User_ID',values='book_rating')

In [97]:
a

User_ID,183,242,254,507,638,643,882,1025,1211,1424,...,277478,277639,277965,278026,278137,278188,278356,278418,278582,278633
book_title,,,,,,,,,,,,,,,,,,,,,
...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"1,401 More Things That P*Ss Me Off",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10 Commandments Of Dating,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1001 Brilliant Ways to Checkmate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101 Essential Tips: House Plants,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
\I Won't Learn from You\: And Other Thoughts on Creative Maladjustment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"\More More More,\ Said the Baby",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
\O\ Is for Outlaw,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"\Well, there's your problem\: Cartoons",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ãƒ?Ã‚?bermorgen.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [98]:
pt = a

In [99]:
pt.fillna(0,inplace=True)

In [100]:
pt

User_ID,183,242,254,507,638,643,882,1025,1211,1424,...,277478,277639,277965,278026,278137,278188,278356,278418,278582,278633
book_title,,,,,,,,,,,,,,,,,,,,,
...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"1,401 More Things That P*Ss Me Off",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10 Commandments Of Dating,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1001 Brilliant Ways to Checkmate,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101 Essential Tips: House Plants,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
\I Won't Learn from You\: And Other Thoughts on Creative Maladjustment,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\More More More,\ Said the Baby",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
\O\ Is for Outlaw,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\Well, there's your problem\: Cartoons",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Ãƒ?Ã‚?bermorgen.,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [101]:
from sklearn.metrics.pairwise import cosine_similarity

In [102]:
simi_scores = cosine_similarity(pt)

In [103]:
simi_scores

array([[1., 0., 0., ..., 0., 0., 1.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [1., 0., 0., ..., 0., 0., 1.]])

In [105]:
simi_scores.shape

(4040, 4040)

In [106]:
simi_scores[4]

array([0., 0., 0., ..., 0., 0., 0.])

In [110]:
np.where(pt.index=='10 Commandments Of Dating')[0][0]

2

In [129]:
from numpy.ma.core import sort
def recommend(book_name):
  index = np.where(pt.index==book_name)[0][0]
  similar_items = sorted(list(enumerate(simi_scores[index])), key=lambda x:x[1],reverse=True)[1:6]
  for i in similar_items:
    print(pt.index[i[0]])

In [132]:
recommend('10 Commandments Of Dating')

A Ride into Morning: The Story of Tempe Wick
A Time To Dance
Across the Wide and Lonesome Prairie: The Oregon Trail Diary of Hattie Campbell, 1847 (Dear America)
Asimov's Guide to the Bible : The Old and New Testaments (2Vols. in One)
Beauty from Ashes (Georgia Trilogy)

In [133]:
recommend('1001 Brilliant Ways to Checkmate')

A Chakra &amp; Kundalini Workbook: Psycho-Spiritual Techniques for Health, Rejuvenation, Psychic Powers and Spiritual Realization
A Soldier Reports
Adolf Hitler
Adolf, Hitler
Alicia: My Story